.container {
    width: 100%;
    height:auto;
    display:flex;
    flex-direction: column;
    margin-left:auto;
    margin-right:auto;
    padding-left: 0.5rem;
    padding-right:0.5rem;
}

/* phone size */
@media (max-width: 639px) {
    .container {
        min-width:340px;
        height:100%;
        background-color: pink;
    }

}
/* ipad size */
@media (min-width: 640px) {
    .container {
        max-width:640px;
        height:100%;
        background-color: black;
    }

}
/* labtop size */
@media (min-width: 1024px) {
    .container {
        max-width:1024px;
        height:100%;
        background-color: purple;
    }

}
/* large screen size */
@media (min-width: 1536px) {
    .container {
        max-width:1536px;
        height:100%;
        background-color: blue;
    }

}














body {
    margin: 0;
    padding:0;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    a {
        text-decoration: none;
      }
}

.top-bar {
    margin-left:5%;
    width: 90%;
    height: 10%;
    background-color: rgb(255, 82, 2);
    margin-bottom: 5%;
}

.search-bar-section{
    margin-left:5%;
    width: 90%;
    height:10%;
    margin-bottom:5%;
    border:2px solid white;
}

.whole-catalog-section {
    margin-left:5%;
    width: 90%;
    height:40%;
     /* border: 1px solid rgb(255, 75, 75);  */
}
.whole-catalog-name{
   
    margin-bottom: 2%;
    font-weight: bold;
    color: black;
    font-size: 1.5em;
    text-align: left;

     /* border:5px solid rgb(253, 181, 0); */
}

.catalog-section{
    width:100%;
    height:90%;
    display:flex;
    flex-direction: column;


    /* border: 2px solid rgb(229, 21, 166)  */
}


.catalog-line-section {
    width: 100%;
    height:40%;
    display:flex;
    flex-direction: row;
    /* border: 5px solid rgb(24, 255, 97);  */
    margin-bottom:2%;

    justify-content: space-around;
}


.sub-catalog-section {
    display:inline-block;
    position: relative;

    width: 23%;
    height: 100%;

    border-radius: 10px;
    border: 1px solid black; 
    overflow: hidden;
    /* margin-bottom:3%; */
    /* border: 4px solid rgb(26, 37, 240); */

}


.sub-catalog-pic {
    width: 100%;
    height:100%;
    object-fit: cover;
    /* box-sizing: border-box; */
    /* position: relative; */
    
}


.sub-catalog-name{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8); /* Transparent background */
    backdrop-filter: blur(20px); 
    width:100%;
    bottom: 0%; 
    text-align: center;
    font-weight: bold;
    color:black;
   
   
}






