.container {
    width: 100%;
    display:flex;
    flex-direction: column;
    margin-left:auto;
    margin-right:auto;
    padding-left: 0.5rem;
    padding-right:0.5rem;
}

@media (min-width: 640px) {
    .container {
        max-width:640px;
        border:2px solid red;
        background-color: red;
    }

}

@media (min-width: 1024px) {
    .container {
        max-width:1024px;
        border:2px solid purple;
        background-color: purple;
    }

}
@media (min-width: 1536px) {
    .container {
        max-width:1536px;
        border:2px solid blue;
        background-color: blue;
    }

}














body {
    margin: 0;
    padding:0;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    a {
        text-decoration: none;
      }
}

.top-bar {
    width: 100%;
    height:10%;
    position: fixed;
    background-color: white;
    border-bottom:1px solid gray;
    background-color: burlywood;
    
    display:flex;
    flex-direction: row;
}

.search-bar-section{
    /* border:1px solid rgb(0, 0, 0); */
    margin-top: 10%;
    width: 100%;
    height:10%;
    margin-bottom:5%;
}

.whole-catalog-section {
    margin-left: 5%;
    width: 90%;
    height:40%;
     /* border: 1px solid rgb(255, 75, 75);  */
}
.whole-catalog-name{
    display:block;
    width:100%;
    /* border:5px solid rgb(253, 181, 0); */
    font-weight: bold;
    color: black;
    font-size: 1.5em;
    text-align: left;
    margin-bottom: 2%;
    height:8%;
}

.catalog-section{
    width:100%;
    height:90%;
    display:flex;
    flex-direction: column;


    /* border: 2px solid rgb(229, 21, 166)  */
}


.catalog-line-section {
    width: 100%;
    height:40%;
    display:flex;
    flex-direction: row;
    /* border: 5px solid rgb(24, 255, 97); */
    margin-bottom:3%;
}


.sub-catalog-section {
    display:inline-block;
    position: relative;
    width: 22%;
    height: 100%;
    border: 1px solid black; 
    margin-right:2%;
    /* margin-bottom:3%; */
    /* border: 4px solid rgb(26, 37, 240); */
}


.sub-catalog-pic {
    width: 100%;
    height:100%;
    object-fit: cover;
    /* box-sizing: border-box; */
    /* position: relative; */
    
}


.sub-catalog-name{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8); /* Transparent background */
    backdrop-filter: blur(20px); 
    width:100%;
    bottom: 0%; 
    text-align: center;
    font-weight: bold;
    color:black;
   
   
}






