.container {
    width: 100%;
    min-height:100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-left:auto;
    margin-right:auto;
    position: relative;
    /* padding-left: 0.5rem;
    padding-right:0.5rem; */
}

/* phone size */
@media (max-width: 639px) {
    .container {
        min-width:340px;
        min-height:100vh;
        background-color: pink;
        /* margin-top:10%; */
    }

}
/* ipad size */
@media (min-width: 640px) {
    .container {
        max-width:640px;
        min-height:100vh;
        background-color: gray;
    }
    .header{
        max-width: 640px;
    }

    .navbar{
        max-width: 640px;
    }

}
/* labtop size */
@media (min-width: 1024px) {
    .container {
        max-width:1024px;
        min-height:100vh;
        background-color: rgb(87, 17, 87);
    }

    .header{
        max-width: 1024px;
    }

    .navbar{
        max-width: 1024px;
    }


}
/* large screen size */
@media (min-width: 1536px) {
    .container {
        max-width:1536px;
        min-height:100vh;
        background-color: blue;
    }

    .header{
        max-width: 1536px;
    }

    .navbar{
        max-width: 1536px;
    }


}


body {

    line-height: 1;
    margin: 0;
    padding:0;

    /* display: flex;
    justify-content: center;
    align-items: center;
    height:100vh; */

    
    /* a {
        text-decoration: none;
      } */

      /* padding-top: 20%; */
}

/* ------------------HEADER STARTS------------------ */



/* .white-spaces{
    width: 100%;
    min-height: 10%;
    height: 10vh;
    background-color: pink;

} */

.header {

    z-index:10;


    width:100%;
    height: 10vh;

    position: sticky;
    top:0;
    justify-self: center;


    display:flex;
    flex-direction: row;
    justify-content:space-evenly;

    background-color: rgb(251, 117, 40);
    /* border:3px solid rgb(251, 117, 40); */
}

.header-icons{
    max-width:10%;
    height:auto;
    /* border:3px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;

}

.header-icons img{
    width: 100%;
    height: 100%;
 
}

.header-main{
    width:60%;
    background-color: yellow;
    border-radius: 40px;

    display: flex;
    align-items: center;
    justify-self: center;
}

.header-main img{
    width: 100%;
    height:auto;


    
}

#search-icon{
    width:20%;
    /* height:auto; */
    align-self: center;
    /* height:45%; */
}
#header-navbar-button{
    width:20%;
    
    
}
#close-navbar{
    z-index: 3;
}



/* ------------------HEADER ENDS------------------ */

/* ------------------NAV BAR START------------------ */

.sidebar{
    overflow-y:auto;
    margin-left:-5%;

    height: 80vh;

    
    width:95%;
    /* max-width: 700px; */

   
    z-index: 11;
    
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    background-color: rgb(255, 255, 255);


    display:none;
    flex-direction: column;
    align-items: center;
    /* border:3px solid red; */
}

.sidebar ul{
    width:90%;
 
    /* height:80%; */
    flex:1;
    padding: 0;
    list-style: none;

    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    /* border: 5px solid red; */


}

.sidebar ul li{
    width:100%;
}



.catalog-header-conatainer{
    width:100%;
    
    min-width:100%;
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center;
;
    /* border: 2px solid purple;  */
}


.sidebar-catalog-name{
    display: inline-block;
    line-height: 2;
    font-size: 2em;
    font-weight: bold;

    /* border: 2px solid blue;  */
}

.sidebar img{
    width: 15%;
    height: auto;
    display:inline-block;
    /* border: 2px solid blue;  */

}

.sidebar ul li {
    border: none;

    display:flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */



}


.sidebar ul li ul {
    border: none;





}
.sidebar-sub-catalog-list{
    margin-left:10%;
    width:80%;
    /* border: 2px solid purple;  */
    font-size:1.5em;
    line-height: 2;

    display:flex;

}

.sidebar ul li ul li{
    /* border: 3px solid red; */


}















/* ------------------NAV BAR END------------------ */

















.main-content {

    margin-top:5%;

    width: min(90vw,90vh);
    max-width: 90%;
    
    height: min(50vw,50vh);
    max-height:50%;

    height:50%;
    

    display: flex;
    flex-direction: column;
    /* margin-bottom: 5%; */


    /* border: 3px solid rgb(255, 75, 75);  */
    /* box-shadow: 2px 2px 5px black; */

}
.catalog-name{
    height:10%;
    width:100%;

    font-weight: bold;
    color: black;
    font-size: max(3vw,3vh);
    text-align: left;

    /* border:3px solid red; */
}

.catalog-section{
    flex:1;
    width:100%;
    height:40vh;
    display:flex;
    flex-direction: column;


    /* border: 3px solid red; */
}


.catalog-line-section {
    /* width: 100%; */
    /* height:max(10vh,10vw); */
    display:flex;
    flex-direction: row;
    /* border: 4px solid rgb(24, 255, 97);  */


    justify-content: space-around;
    margin-bottom:2%;

    /* margin-bottom: 5%; */
}


.sub-catalog-section {
    display:inline-block;
    position: relative;
/* 
    min-width: min(10vh,10vw);
    max-width: max(10vh,10vw); */
    height: 100%;


    border-radius: 10px;
    border: 1px solid black; 
    overflow: hidden;
    /* margin-bottom:3%; */
    /* border: 2px solid rgb(26, 37, 240); */

    margin:2%;

    
    box-shadow: 2px 2px 5px gray;

}


.sub-catalog-pic {
    width: max(10vh,10vw);
    height:max(10vh,10vw);
    object-fit: cover;
    /* box-sizing: border-box; */
    
}


.sub-catalog-name{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8); /* Transparent background */
    backdrop-filter: blur(20px); 
    width:100%;
    bottom: 0%; 
    text-align: center;
    font-weight: bold;
    color:black;
   
   
}






