.screen-limit {
    /* border:2px solid purple; */
    width: 100vw;
    height:100vh;
    display:flex;
    flex-direction: column;
}

@media (min-width: 500px) {
    .screen-limit {
        /* border:2px solid red; */
        width: 500px;
        display:flex;
        flex-direction: column;

    }

}

body {
    margin: 0;
    padding:0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    line-height: 0;
    a {
        text-decoration: none;
      }
}


.top-bar {
    width: inherit;
    height:10%;
    position: fixed;
    background-color: white;
    border-bottom:1px solid gray;
    
    display:flex;
    flex-direction: row;
}
.back-button-section{
    position: relative;
    display: inline-block;
    /* background-color: red; */
    width: 20%;
    height: 100%;
}

.back-button-pic{
    padding-top: 10%;
    padding-left: 10%;
    padding-bottom: 10%;
    padding-right: 10%;
    width: 80%;
    height: 80%;
    object-fit: contain;
}


.recipe-pic-section{
    /* display: inline-block; */
    /* border:1px solid rgb(0, 0, 0);  */
    margin-top: 15%;
    width: 100%;
    height: 40%;
}

.recipe-pic{
    width: 100%;
    height: 100%;
    /* object-fit: contain; */
}


.menu-page-title {
    width: 100%;
    height:5%;
    
    font-weight: bold;
    color: black;
    font-size: 2em;
    text-align: center;

}

.recipe-text-section {
    margin-top: 3%;
    /* border:2px solid rgb(42, 217, 188); */
    width:100%;
    height:5%;

    display:flex;
    flex-direction: row;
    margin-bottom: 3%;
}

.recipe-time-est {
    display: inline-block;
    /* border:2px solid rgb(254, 0, 0); */
    height:100%;
    width:50%;
    color: gray;
    font-size: 0.8em;
    text-align: center;
}

.recipe-portion {
    display: inline-block;
    /* border:2px solid rgb(254, 0, 0); */
    height:100%;
    width:50%;

    color: gray;
    font-size: 0.8em;

    text-align: center;
}



.usage-chart-section {
    display: inline-block;
    border:2px solid rgb(254, 0, 0);
    margin-left: 5%;
    width:90%;

    color: gray;
    font-size: 0.8em;
    text-align: center;
}

.usage-text-section{
    border:3px solid rgb(43, 57, 255);
    width:100%;
    height:10%;

    

    font-weight: bold;
    color: black;
    font-size: 1.5em;
    text-align: left;
}


.usage-chart {
    border:2px solid rgb(157, 255, 0);
    width:100%;
    height:100%;

}


.sause-chart-section {
    margin-top: 10%;
    display: inline-block;
    /* border:2px solid rgb(254, 0, 0); */
    margin-left: 5%;
    width:90%;
    color: gray;
    font-size: 0.8em;
    text-align: center;
}

.sause-text-section{
    width:100%;
    height:10%;

    /* border:2px solid rgb(42, 217, 188); */

    font-weight: bold;
    color: black;
    font-size: 1.5em;
    text-align: left;
}


.sause-chart {
    width:100%;
    height:100%;

}

