body {
    margin: 0; /* Remove default margin to ensure full-width image */  
    
}


#menu-title-text {
    font-weight: bold;
    font-size: 5vw; /* Adjust the size as needed */
    margin-bottom: 10px;
}


.recipe-pic {
    width: 30%;
    height: 30vh;
    object-fit: cover;
}
