body {
    margin: 0; /* Remove default margin to ensure full-width image */  
    
}


#menu-title-text {
    font-weight: bold;
    font-size: 5vw; /* Adjust the size as needed */
    margin-bottom: 10px;
}

.recipe01-div {
    top:10%;
    width: 100%;
    height:20%;
    position: absolute;

    /* display: flex; */
    /* align-items: center; Align items vertically */
}


.recipe-pic img{
    width: 50%;
    height: 100%;
    object-fit: cover;
}

.recipe01-title {
    position: absolute;
    top: -10%;
    left: 55%;
}