.screen-limit {
    border:2px solid purple;
    width: 100vw; /* Default: 100% of viewport width */
    height:100vh;
}

@media (min-width: 500px) {
    .screen-limit {
        border:2px solid red;
        width: 500px; /* Override for screens wider than 500px */
        height: 1000px;

    }

}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



    



#menu-title-text {
    font-weight: bold;
    font-size: 5vw; /* Adjust the size as needed */
    margin-bottom: 10px;
}

.recipe01-div {
    position: absolute;
    top:10%;
    width: 100%;
    height:20%;


    /* display: flex; */
    /* align-items: center; Align items vertically */
}


#recipe-pic{
    position: absolute;
    margin-left: 5%;
    width: 45vw;
    height: 20vh;
    object-fit: cover;
}

.recipe01-title {
    position: absolute;
    top:0%;
    left: 55%;
    height:10wh;
    width:20vw;

    font-weight: bold;
    color: black;
    font-size: 5vw;
    transform: translateY(-50%);
}

.recipe01-time {
    position: absolute;
    top:15%;
    left: 55%;
    font-size: 3vw;
    color:  gray;
    transform: translateY(-50%);
}

.recipe01-tags {
    position: absolute;
    top:35%;
    left: 55%;
    font-size: 3vw;
    color:  gray;
    transform: translateY(-50%);
}
