/* ----------RESPONSIVE DESIGN---------- */
.container {
    width: 100%;
    min-height:100vh;

    display:flex;
    flex-direction: column;
    align-items: center;
    margin-left:auto;
    margin-right:auto;
    position: relative;
}
@media (max-width: 639px) {/* phone size */
    .container {
        min-width:340px;
        min-height:100vh;
        background-color: pink;
    }

}

@media (min-width: 640px) {/* ipad size */
    .container {
        max-width:640px;
        min-height:100vh;
        background-color: gray;
    }
    .header{
        max-width: 640px;
    }

    .navbar{
        max-width: 640px;
    }

}

@media (min-width: 1024px) {/* labtop size */
    .container {
        max-width:1024px;
        min-height:100vh;
        background-color: rgb(87, 17, 87);
    }

    .header{
        max-width: 1024px;
    }

    .navbar{
        max-width: 1024px;
    }


}

@media (min-width: 1536px) {/* large screen size */
    .container {
        max-width:1536px;
        min-height:100vh;
        background-color: blue;
    }

    .header{
        max-width: 1536px;
    }

    .navbar{
        max-width: 1536px;
    }


}
/* ------------------BODY------------------ */
body {
    line-height: 1;
    margin: 0;
    padding:0;
}
/* ------------------HEADER------------------ */
.header {
    width:100%;
    height: 10vh;

    position: sticky;
    top:0;
    z-index:10;

    justify-self: center;

    display:flex;
    flex-direction: row;
    justify-content:space-evenly;
    justify-items: center;
    align-items: center;

    background-color: rgb(251, 117, 40);

    /* border:3px solid rgb(251, 117, 40); */
}
.header-icons{
    max-width:min(7vh,10vw);
    height:auto;
    max-height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;

    /* border:3px solid blue; */
}
.header-icons img{
    width: 100%;
    height: 100%;
    max-height:10vh;
}
.header-main{
    width:min(60vw,60vh);
    height:80%;
    align-self: center;
    background-color: yellow;
    border-radius: 40px;

    display: flex;
    align-items: center;
    justify-self: center;
}
.header-main img{
    width: 100%;
    height:auto;
    max-height:10vh;


    
}
#search-icon{
    width:20%;
    align-self: center;
}
#header-navbar-button{
    width:20%;
}
#close-navbar{
    z-index: 3;
}
/* ------------------SIDE BAR------------------ */
.sidebar{

    height: max(60vh,60vw);
    width:min(90vw,90vh);

    position: sticky;
    top:10%;
    align-self: flex-start;
    z-index: 11;

    overflow-y:auto;

    border-radius: 10px;
    border-top-left-radius: 0px;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);

    display:none;
    flex-direction: column;
    align-items: center;

    /* border:3px solid red; */
}
.sidebar a{
    font-size: max(2.5vh,2.5vw);
    color:black;
    text-decoration: none;
}
a:hover{
    background-color:gray;
}
.sidebar ul{
    width:90%;
    flex:1;
    padding: 0;
    list-style: none;

    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    /* border: 5px solid red; */


}
.sidebar ul li{
    width:100%;
}
.catalog-header-conatainer{
    width:100%;
    min-width:100%;
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center;
    box-shadow: 4px 10px 8px rgba(0, 0, 0, 0.1); 
    border: 1.5px solid black; 
    margin-bottom:1%;
}
.sidebar-catalog-name{
    margin-left: 5%;
    display: inline-block;
    line-height: 2;
    font-size: max(3.5vh,3.5vw);
    font-weight: 550;

    /* border: 2px solid blue;  */
}
.sidebar img{
    width: min(10vh,10vw);
    height: auto;
    /* max-height: 90%; */
    display:inline-block;
    /* border: 2px solid blue;  */
}
.sidebar ul li {
    border: none;
    display:flex;
    flex-direction: column;
}
.sidebar ul li ul {
    border: none;
}
.sidebar-sub-catalog-list{
    margin-top:-1%;
    padding-top:2%;
    justify-self: center;
    margin-left:5%;
    width:90%;
    border-top: none;
    font-size:1.5em;
    line-height: 2;
    display:none;
    margin-bottom:4%;

    border: 1.5px solid black; 
}
.sidebar-subcatalog-img{
    margin-left:5%;
    display: inline-block;
    width:15%;
    height: 90%;
    margin-right:5%;

    /* border: 2px solid black; */
}
.sidebar ul li ul li{
    display: flex;
    flex-direction: row;
    font-weight: bold;
    margin-bottom: 2%;
}
/* ------------------MAIN SECTION------------------ */

.page-title{
    /* border:3px solid red; */
    max-height:30%;
    margin-top:5%;
    margin-bottom:5%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 5ch;
    font-weight: bold;
}
.recipe{
    /* border:2px solid black; */
    width:min(80vw,80vh);
    min-height:20%;

    display:flex;
    flex-direction: row;
    justify-content: space-between;

    border-radius: max(2vh,2vw);
    overflow: hidden;

    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3); 

    margin-bottom: 5%;

    background-color: white;
}

.recipe-pic{
    /* height:100%; */
    width:60%;
    /* border:2px solid yellow; */
    /* overflow: hidden; */
    
}

.recipe-pic img{
    /* height:100%; */
    width:100%;
    height:auto;

}

.recipe-info{
    margin-left:2.5%;
    margin-right:2.5%;
    flex:1;
    /* border:2px solid yellow; */

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-size: 18px;


    /* border: 3px solid red; */

    resize: horizontal;

}

.recipe-name{
    display: flex;
    justify-content: center;


    margin-top:20%;
    height:60%;
    /* border:3px solid blue; */
    color:black;
    font-weight: bold;
    font-size:max(2.5vw,2.5vh);
}


.recipe-time,.recipe-tags{

    display: flex;
    justify-content: center;

    height:20%;
    /* border:3px solid green; */
    font-size:max(1.5vw,1.5vh);
    color:gray;
}






