.container {
    width: 100%;
    min-height:100vh;
    display:flex;
    flex-direction: column;

    align-items: center;

    /* justify-content: flex-end; */
    margin-left:auto;
    margin-right:auto;
    /* position: relative; */
    /* padding-left: 0.5rem;
    padding-right:0.5rem; */

}

/* phone size */
@media (max-width: 639px) {
    .container {
        min-width:340px;
        min-height:100vh;
        background-color: pink;
        /* margin-top:10%; */

        
    }


    .recipe{
        min-width:90%;
        max-height:20%;
    }



}
/* ipad size */
@media (min-width: 640px) {
    .container {
        max-width:640px;
        min-height:100vh;
        background-color: orange;
    }
    .header{
        max-width: 640px;
    }

    .navbar{
        max-width: 640px;
    }
    
    .recipe{
        width:100%;
    }




}
/* labtop size */
@media (min-width: 1024px) {
    .container {
        max-width:1024px;
        min-height:100vh;
        background-color:gary;
        
    border-left:2px solid white;
    border-right:2px solid white;
    }

    .header{
        max-width: 1024px;
    }

    .navbar{
        max-width: 1024px;
    }


}
/* large screen size */
@media (min-width: 1536px) {
    .container {
        max-width:1536px;
        height:100%;
        background-color: blue;
    }

    .header{
        max-width: 1536px;
    }

    .navbar{
        max-width: 1536px;
    }


}


body {

    line-height: 1;
    margin: 0;
    padding:0;


    display: flex;
    justify-content: center;
    align-items: center;

    /* height: 100vh;  */


    
     a {text-decoration: none;} 

     /* background-color: pink;  */


}

/* ------------------HEADER STARTS------------------ */



.white-spaces{
    width: 100%;
    min-height: 10%;
    height: 10vh;
    /* border:3px solid rgb(255, 8, 230); */

}

.header {
    width:100%;
    height: 10%;

    position: fixed;
    z-index: 1000;   
    justify-self: center;


    display:flex;
    flex-direction: row;
    justify-content: space-between;
    /* padding: 0 5%; */

    background-color: rgb(251, 117, 40);
    /* border:3px solid rgb(251, 117, 40); */
}

.header-elements{
    width:20%;
    height:auto;
    /* border:3px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-elements img{
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    
}

#website-icon{
    width:70%;
    background-color: yellow;
    border-radius: 40px;
}

#search-icon{
    align-self: center;
    height:35%;
}
#close-navbar{
    z-index: 3;
}



/* ------------------HEADER ENDS------------------ */

/* ------------------NAV BAR START------------------ */

.navbar{
    top:10%;
    position: fixed;
    width:100%;
    min-height:80vh;
    /* width: 100%; */
   
    z-index: 15;
    

    background-color: rgb(255, 255, 255);


    display:none;
    flex-direction: column;
    /* border:3px solid red; */
}

nav ul{
    margin-top:10%;
    height:80%;
    flex:1;
    padding: 0;
    list-style: none;

    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    /* border: 5px solid green; */


}

nav li{
    width:90%;
    margin-left:5%;
    height:10%;
    /* border: 2px solid blue; */
    border-bottom: 1px dashed black; 

    margin-top:5%;
}

nav a{
    display: flex;
    height:100%;

    text-decoration: none;
    align-items:end;
    color:black;
  
    font-size: 1.5em;
}

nav a:hover{
    background-color: gray;
}

/* ------------------NAV BAR END------------------ */


/* -----MAIN CONTENT STARTS----- */

.page-pic{
    /* margin-left:5%;
    margin-right:5%; */
    max-width:90%;
    min-height:30%;
    /* border:3px solid red; */
}
.page-pic img{
    height: 100%;
    width: auto;
    max-width: 100%;
    /* transform: translate(-50%, -50%); */
}
.page-title{
    margin-top:5%;
    /* border:3px solid red; */
    font-size:5vw;
    font-weight: bold;
}

.page-sub-title{
    margin-top:5%;
    width: 100%;
    /* border:3px solid green; */
    display:flex;
    flex-direction: row;
    justify-content: space-around;

    margin-bottom:3%;

    
}
.info-text{
    /* border:3px solid blue; */
    font-size:3vw;
    color:gray;

}

.chart-section{
    margin-top:2%;
    width:90%;
    margin-left:5%;
    border:3px solid blue;
}

.chart-title{
    /* border:3px solid white; */
    font-size:4vw;
    font-weight: bold;

}

.chart{
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed; /* Fixed table layout */
}

td {
    border: 1px solid #000000;
    padding-top: 10px;
    padding-bottom: 10px;

    word-wrap: break-word; /* Wrap text if it exceeds cell width */
    font-size: 3vw; /* Set the font size as needed */
  }








